@model NewHorizons.Models.ApplicationUser

@{
    ViewData["Title"] = "User Details";
    var roles = (IList<string>)ViewBag.Roles;
    bool isAdmin = roles.Contains("Admin");
}

<h2>User Details</h2>

<div class="card">
    <div class="card-body">

        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Display Name:</strong> @Model.DisplayName</p>
        <p><strong>Email Confirmed:</strong> @Model.EmailConfirmed</p>

        <p>
            <strong>Roles:</strong>
            @foreach (var role in (IList<string>)ViewBag.Roles)
            {
                <span class="badge bg-primary">@role</span>
            }
        </p>

    </div>
</div>

<br />
<div class="d-flex gap-2 align-items-center">
    <form asp-area="Admin" asp-controller="Users" asp-action="ToggleAdmin" method="post">

        @if (User.IsInRole("Admin") && Model.UserName != User.Identity.Name)
        {
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn @(roles.Contains("Admin") ? "btn-danger" : "btn-warning") btn-toggle">
                @(roles.Contains("Admin") ? "Revoke Admin" : "Make Admin")
            </button>
            <a asp-area="Admin"
               asp-controller="Users"
               asp-action="Delete"
               asp-route-id="@Model.Id"
               class="btn btn-toggle btn-danger">
                Delete User
            </a>
        }
        <a asp-area="Admin"
           asp-controller="Users"
           asp-action="Index"
           class="btn btn-secondary btn-toggle">
            Back
        </a>
    </form>
</div>
